body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.game{
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.tile-row{
  display: flex;
  width: fit-content;
}

.tile{
  border: 1px solid black;
  height: fit-content;
  text-align: center;
  
  margin: 4px;
  padding: 8px;
}

.tile p{
  margin: 0px;
}

